name: package
defaults:
  run:
    shell: D:\msys64\msys2.cmd {0}
on:
  workflow_dispatch:

jobs:    
  package:
    runs-on: windows-2022
    steps:
    - name: Prepare
      run: git config --global core.autocrlf input
      shell: bash
    - name: Checkout
      uses: actions/checkout@main
    - name: Cache msys2
      uses: actions/cache@main
      with:
        path: D:\msys64
        key: msys2
    - name: Cache GCC With MCF
      uses: actions/cache@main
      with:
        path: D:\ucrt64
        key: mcf-ucrt-x86_64
    - name: Setup Packages
      run: |
        curl -OL https://github.com/${{ github.repository }}/releases/download/latest/config-1.0-1-x86_64.pkg.tar.xz        
        curl -OL https://github.com/${{ github.repository }}/releases/download/latest/ffmpeg-git-7.0-1-x86_64.pkg.tar.xz
        curl -OL https://github.com/${{ github.repository }}/releases/download/latest/libmpv-git-0.38.0-1-x86_64.pkg.tar.xz
        curl -OL https://github.com/${{ github.repository }}/releases/download/latest/mpv-git-0.38.0-1-x86_64.pkg.tar.xz
        pacman -U *.xz --noconfirm
    - name: Get ffmpeg latest commit sha
      run: echo "ffmpeg_sha=$(cat /d/msys64/opt/ffmpeg/SHORT_SHA)" >> $GITHUB_ENV   
    - name: Zip Packages    
      run: |
        curl -OL https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp.exe
        mv yt-dlp.exe /opt/mpv
        7z a static-mpv.7z /opt/mpv/*
        7z a git-libmpv.7z /opt/libmpv\*
        7z a git-ffmpeg-${{ env.ffmpeg_sha }}.7z /opt/ffmpeg/*
    - name: Release
      env:
        MSYS2_PATH_TYPE: inherit
        GH_TOKEN: ${{ github.token }}
      run: ./release-package.sh