name: toolchain

on:
  workflow_dispatch:  
  #schedule:
  #- cron: '05 0 * * MON'  
 
jobs:
  build:
    runs-on: windows-2022
    steps: 
    - uses: msys2/setup-msys2@v2
      with:
        location: D:\
        install: base-devel autotools   
    - name: Prepare
      run: git config --global core.autocrlf input
    - uses: actions/checkout@v3     
    - name: Get HASH ENV
      run: echo "random_hash=$(cat HASH)" >> $GITHUB_ENV
      shell: bash    
    - uses: actions/cache@v3
      id: cache
      with:
        path: D:\ucrt64
        key: mcf_20221123_13.0.0_x64-ucrt-${{ env.random_hash }}
    
    - name: Setup Toolchain
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        curl -OL https://gcc-mcf.lhmouse.com/mingw-w64-gcc-mcf_20221123_13.0.0_x64-ucrt_2c3a785ac477b55afc876a06f17d403d065902b2.7z
        &'C:\Program Files\7-Zip\7z.exe' x *.7z -o'D:'    
    - name: Make Toolchain
      shell: msys2 {0}
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cd mcfgthread; PATH=/usr/bin:/opt/bin:/d/ucrt64/bin makepkg      

    - name: Delete
      if: steps.cache.outputs.cache-hit != 'true'
      uses: mknejp/delete-release-assets@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: latest
        assets: mcfgthread*
        fail-if-no-assets: false
        fail-if-no-release: false        
    - name: Upload
      if: steps.cache.outputs.cache-hit != 'true'
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: mcfgthread/*pkg*.xz
        tag: latest
        overwrite: true
        file_glob: true
